hostname corp-rtr01
!
enable secret 5 $1$FAKEsalt$FAKEhashedSecretXXXXXX/
enable password 7 110A1016141D
!
username svc_netadmin privilege 15 secret 5 $1$FAKEsalt2$FAKEhashedSecret2XXXX/
username monitor privilege 1 password 7 02050D480809
!
snmp-server community FAKE-snmpReadOnly RO
snmp-server community FAKE-snmpReadWrite RW
